.mirrorsList {
    width: 100%;
}

.tr {
    border: 50px;
}

.tr:hover {
    /*border-radius: 3px;*/
    /*width: 1000px;*/
    padding: 10px;
    background-color: #dbf4fa;
}
.td-name{
    float: left;
}

.td-name  a{
    color: #4570cc;
    font-size: large;
    margin-left: 31px;
}

.td-date {
    float: right;
    margin-left: 450px;
    margin-right: 25px;
    font-size: large;
}

.td-date-none {
    float: right;
    width: 603px;
    height: 30px;
    margin-left: 25px;
    margin-right: 25px;
    padding-right: 83px;
    font-size: large;
}

