
#span-news {
    right:14px
}

.h5-icons-github {
    width: 80px;
}

#panel {
    width: 300px;
    border-radius: 7px;
}

.h5-icons-mirrors    {
    width: 80px;
}

.panel-body ur li {
    text-align: left;
}
